<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Мой REST</title>
</head>
<body>
 <form action="/newArticle" method="post">
   <input type="text" placeholder="Введите название" name = "head">
   <br>
   <br>
   <textarea name="text" placeholder="Введите текст" rows="8" cols="80"></textarea>
   <input type="submit" name = "submit" value="Отправить">
 </form>
</body>
</html>
