body{
  font-family: 'Slabo 27px', serif;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}
 .navbar-inverse .user .but{
   background: none;
   border: none;
   font-size: 20px;
   color: rgb(200, 186, 238);
   height: 52px;
 }
.navbar-inverse .user .but:hover{
    background-color:rgb(120, 9, 105) ;
}


 .navbar-inverse .user .collapse a{
   text-decoration: none;
   color:white;
   padding-left: 5px;
 }
.navbar-inverse .user .collapse .del{
  background: none;
  border: none;
  color:white;
}

.navbar-inverse .user .collapse .del:hover{
  background: none;
  border: none;
  color:rgb(52, 47, 55);
}

.navbar-inverse .user .collapse a:hover{
  text-decoration: none;
  color:rgb(52, 47, 55);
  padding-left: 5px;
}

.row .artic{
  margin-top: 10px;
  width: 100%;
  border: 1px solid silver;
}

.row .artic a{
  text-decoration: none;
  color: rgba(40, 42, 25, 0.85);
}

.row .artic a:hover{
  text-decoration: none;
  color: rgb(18, 19, 9);
}
