body{
  font-family: 'Slabo 27px', serif;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.text{
  border: 1px solid silver;
}

 .but{
  background: none;
  border: none;
  float:right;
}

.container .lin {
  text-decoration: none;
  color: rgb(57, 51, 43);
  float: right;
}

.container .commenter{
  border:1px solid silver;
  margin-bottom: 5px;
}

.container .comm{
  resize: none;
  height: 50px;
  min-width: 70%;
}

.container .home{
  text-decoration: none;
  color:rgb(57, 51, 43);
}
